* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  /* list-style: none; */
  text-decoration: none;
  color: rgb(69, 241, 1);
  background: #310202;
  text-align: justify;
  scroll-behavior: smooth;
  transition: all 0.5s;
  
  /* text-transform: capitalize; */
}
body {
  margin: 2em;
}
.hello{
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
}
img{
    display: block;
    border: 5px solid;
    border-radius:50px ;
}
/* ul li */
ul{
    border: 5px solid;
    border-radius: 50px;
    overflow: hidden;
}
li,a{
    width: 100%;
    text-align: center;
    background: #000;
    padding: 1em;
    
}
a{
    background: #00000000;
}
li:hover {
    color: #a8fddb;
    background: #520000;
  

}
/* ul li */

#about,
#skils,
#learning,
#contact,
#interests,
caption > h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1em 0;
  border-bottom: 4px solid;
}

/* table  */
/* table  */
table {
  border-collapse: collapse;
  width: 100%;
}
table,
tr,
th,
td {
  text-align: justify;
  border: 1px solid rgb(70, 248, 0);
  padding: 10px;
}
thead {
  color: #132d3a;
  background: #f7d8d8;
}
tbody {
  color: rgb(0, 0, 0);
  background: #00ff99;
}
/* table  */
/* form */
fieldset {
  margin: 2em auto;
  width: 60vw;
  outline: none;
  border: 5px solid;
  padding: 1em;
  border-radius: 10px;
}
input,
textarea {
  outline: none;
  border: 1px solid;
  padding: 0.5em;
  border-radius: 5px;
}
label {
  font-size: 1.2em;
}
input::placeholder,
textarea::placeholder {
  color: aliceblue;
}
textarea {
  resize: none;
}
#btn {
  cursor: pointer;
}
/* form */
